<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="ssn">SSN</label>
            <input type="text" (keypress)="onKeyPress($event)" formControlName="ssn" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.ssn.errors }" />
            <div *ngIf="submitted && f.ssn.errors" class="invalid-feedback">
                <div *ngIf="f.ssn.errors.required">SSN is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="lastName">Last Names</label>
            <input type="text" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="address">Address</label>
            <input type="text" formControlName="address" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="income">Monthly Income ($)</label>
            <input type="text" (keypress)="onKeyPress($event)" formControlName="income" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.income.errors }" />
            <div *ngIf="submitted && f.income.errors" class="invalid-feedback">
                <div *ngIf="f.income.errors.required">Income is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" (keypress)="onKeyPress($event)" formControlName="phoneNumber" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="clientType">Client Type</label>
            <select formControlName="clientType" class="form-control">
                <option value="physical">Physical</option>
                <option value="juridical">Juridical</option>
            </select>
        </div>
        <div class="form-group col">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="password">
                Password
                <em *ngIf="!isAddMode">(Leave blank to keep it unchanged)</em>
            </label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>