<h1>My Accounts</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">Number</th>
            <th style="width: 30%">Description</th>
            <th style="width: 10%">Currency</th>
            <th style="width: 10%">Type</th>
            <th style="width: 40%">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Activity</a>
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Cards</a>
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Transfer money</a>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>